.card {
    width: calc(33% - 40px);
    min-width: 300px;
    border-radius: 10px;
    border: #4f6367 2px solid;
    box-shadow: #999 4px 4px 6px;
    margin: 10px;
    float: left;
    background: #b8d8d8;
}

.card-title-wrapper {
    width: 100%;
    position: relative;
    min-height: 50px;
    background: #4f6367;
    padding: 12px;
    border-radius: 7px 7px 0 0;
}

.card:nth-child(2n) {
    background: #d6cfcb;
    border: #565264 2px solid;
}

.card:nth-child(2n) .card-title-wrapper{
    background: #565264;
}

.button-wrapper {
    display: none;
}

.card-title-wrapper:hover .button-wrapper {
    display: block;
    position: absolute;
    right: -50px;
}

.card h3 {
    font-size: 14px;
    color: #fff;
}

.card p {
    font-size: 12px;
    color: #333;
    padding: 15px;
}

.card-title-wrapper button {
    width: 60px;
    height: 30px;
    background: green;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 5px 6px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    z-index: 999;
    margin-left: -20px;
}

.card-title-wrapper button:after {
    content: "";
    position: absolute;
    left: -20px;
    top: 9px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 15px solid green;
    border-bottom: 6px solid transparent;
}